{% extends 'base.html' %}

{% block title %}
{% load static %}
Ana Səhifə - {{block.super}}
{% endblock%}

{% block body %}

    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("{% static "img/city.gif" %}");
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1 style="color:rgb(236, 238, 118)"; class="mt-5">Xoş gəlmişsiniz!</h1>
                <p style="color:rgb(236, 238, 118)"; class="lead">Saytda hər hansı çətinliklə qarşılaşdıqda bunu bildirməyiniz xahiş olunur</p>
                <p style="color:rgb(236, 238, 118)"; class="lead">Sayt, iki ssenari üzrə işləyir</p>
                <p style="color:rgb(236, 238, 118)"; class="lead">Qeydiyyatlı: Nömrəni qeyd etməklə yoxlama || Qeyd:'Billing' hesabı tələb olunur</p>
                <p style="color:rgb(236, 238, 118)"; class="lead">Qeydiyyatsız: Dslam, Plata və Port göstəricilərini qeyd etməklə yoxlama</p>
                <p style="color:rgb(236, 238, 118)"; class="lead">İşiniz bitdikdən sonra hesabınızdan 'Çıxış' etməyi unutmayın</p>
                <p style="color:rgb(236, 238, 118)"; class="lead">UĞURLAR!</p>
            </div>
        </div>
    </div>

{% endblock%}
