{% extends 'base.html' %}

{% block title %}
Ana Səhifə - {{block.super}}
{% endblock%}

{% block body %}

    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Xoş gəlmişsiniz!</h1>
            <p class="lead">Saytda hər hansı çətinliklə qarşılaşdıqda bunu bildirməyiniz xahiş olunur</p>
            <p class="lead">Sayt, iki ssenari üzrə işləyir</p>
            <p class="lead">Qeydiyyatlı: Nömrəni qeyd etməklə yoxlama || Qeyd:'Billing' hesabı tələb olunur</p>
            <p class="lead">Qeydiyyatsız: Dslam, Plata və Port göstəricilərini qeyd etməklə yoxlama</p>
            <p class="lead">İşiniz bitdikdən sonra hesabınızdan 'Çıxış' etməyi unutmayın</p>
            <p class="lead">UĞURLAR!</p>
        </div>
        </div>
    </div>

{% endblock%}
