{% extends 'base.html' %}


{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                <div class="caption">
                    <pre class="tab"><h5>Download Sürəti         {{ aa }} kbit/s</h5></pre>
                    <pre class="tab"><h5>Upload Sürəti           {{ bb }} kbit/s</h5></pre>
                    <pre class="tab"><h5>Download SNR'i          {{ cc }} dB</h5></pre>
                    <pre class="tab"><h5>Upload SNR'i            {{ dd }} dB</h5></pre>
                    <pre class="tab"><h5>MAC Adresi              {{ ee }}</h5></pre>
                    {% if request.user.is_authenticated %}  
                        <a href="{% url 'selena:selenareg' %}" class="btn btn-primary" role="button">Geri</a>
                    {% else%}
                        <a href="{% url 'selena:selenaunreg' %}" class="btn btn-primary" role="button">Geri</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock%}
