{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <style>
        body {
        background-color: #16b975
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method = "POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <p class="lead">Porta sürət verilməsi</p>
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Göndər">
                </form>
            </div>
        </div>
    </div>

{% endblock%}

